doctype html
<!--[if IE 8]>
<html lang='en' class='lt-ie9'>
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang='en-US'>
<!--<![endif]-->
html(lang='en-US' dir='ltr')
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv='X-UA-Compatible', http-content='IE=Edge')
    meta(name='apple-mobile-web-app-capable' content='yes')
    title= title
    meta(name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no')
    meta(name='author' content='tony brown')
    meta(name='description' content='JavaScript single page application')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='./javascripts/index.js')
