@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
}

body {
  padding: 3.7rem;
  font: 1rem/1.625 'Roboto', Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(7, 66, 114, 0.767);
}

h1 {
  font-size: 2.75rem;
}

a {
  color: rgba(201, 101, 214, 0.911);
}

blockquote {
  padding: 0 0.75em;
  color: rgba(95, 104, 114, 0.5);
  border-left: 0.33em solid #dfe2e5;
  margin: 0 0 0 1.75rem;
  font-style: italic;
  font-variant: common-ligatures;
